# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/src/object.obj
/src/curvature.obj
/src/gts-0.7.dll
/src/gts-0.7.exp
/src/gts-0.7.lib
/src/isotetra.obj
/src/partition.obj
/src/pgraph.obj
/src/graph.obj
/src/container.obj
/src/oocs.obj
/src/boolean.obj
/src/named.obj
/src/cdt.obj
/src/hsurface.obj
/src/psurface.obj
/src/iso.obj
/src/split.obj
/src/refine.obj
/src/vopt.obj
/src/stripe.obj
/src/surface.obj
/src/matrix.obj
/src/eheap.obj
/src/fifo.obj
/src/heap.obj
/src/predicates.obj
/src/predicates_init.exe
/src/predicates_init.h
/src/predicates_init.obj
/src/bbtree.obj
/src/misc.obj
/src/face.obj
/src/kdtree.obj
/src/edge.obj
/src/triangle.obj
/src/segment.obj
/src/tribox3.obj
/src/point.obj
/src/vertex.obj
/src/config.h
msvc
